@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS Styling */
:root {
  --default: #FFFFFF;
  --primary: #112aea;
  --primary-text: #919eff;
  --secondary: #2B2B31;
  --accent: #ff00b7;
  --background: #0E0F15;
}

body {
  background-color: var(--background);
}

.hero-button {
  transform: translate(0, 0);
}

.hero-button:nth-child(1):hover {
  box-shadow: 6px 6px 0 0 var(--secondary);
  transform: translate(-6px, -6px);
}

.hero-button:nth-child(2):hover {
  box-shadow: 6px 6px 0 0 var(--primary);
  transform: translate(-6px, -6px);
}

.embla__slide {
  flex: 0 0 100%;
}